extends templates/layout

block content
    .title Витамины, минералы, ПНЖК
    .titles
        .sub.title Питательные вещества
        .sub.title Органы
        .clear-both
    .ig
        svg.graph
        .blocks
            .vitamins
            .organs
            .clear-both

